body{
    margin:0;
    padding:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.clearfix::after{
    content:"";
    display:block;
    clear:both;
}

.header{
    background-image: url("../img/banner1.png");
    widows: 100%;
    height:100%;
    background-size: cover;
    background-position: center top;
}

.header h3{
    float:left;
    color:#fff;
    margin-top:30px;
    margin-left:40px;
    font-weight: 300;
}

.header h3 span{
    color:rgb(69, 69, 197);
}

.header a{
    float:right;
    text-decoration:none;
    margin-top:30px;
    margin-right:40px;
    color:#fff;
}

.header span{
    color:#fff;
    margin-right:10px;

}

.header .heading{
    clear:both;
    text-align:center;
    position: relative;
    top:250px;
    color:#fff;
}

.header .heading h2{
    font-size: 30px;
    font-weight: 200;
}

.header .heading p{
    line-height: 30px;
    color:rgb(233, 221, 221);
}

.header .heading button{
    width:100px;
    height:40px;
    background-color: rgb(80, 80, 175);
    border:0;
    font-size:16px;
    color:#fff;
    margin-top: 20px;
}
/*heading2 start*/

.heading2{
    width:70%;
    margin:0 auto;
}

.heading2 .left{
    width:25%;
    float:left;
   margin-top: 70px;
}

.heading2 img{
    float:left;
    border-radius: 100%;
    width:100%;
}

.heading2 .right{
    width:70%;
    float:right;
    margin-top:50px;
}

.heading2 .right p{
 color:gray;
 text-align: justify;
}

.bluebutton{
    width:100px;
    height:30px;
    background-color: rgb(96, 96, 206);
    border:none;
    margin-top: 20px;
}

/*heading2 finished */

/*heading3 start*/

.heading3{
    width:100%;
    background-color: rgb(96, 96, 206);
    margin-top: 50px;
    float:left;
    padding-bottom:50px;
}

.heading3 .center{
    width:70%;
    margin:0 auto;
    padding-top:40px;
}

.heading3 .left{
    width:70%;
    float:left;
    margin-bottom: 50px;
}

.heading3 .center .left h2{
    color:#fff;
}

.heading3 .center .left p{
    color:rgb(170, 155, 155);
    line-height: 25px;
    text-align: justify;
}
.heading3 .center .left button{
    width:120px;
    height:30px;
    background-color: #fff;
    color:rgb(53, 53, 161);
    margin-top: 20px;
    font-size: 17px;
}

.heading3 .center .right{
    width:25%;
    float:right;
}
.heading3 .center .right img{
    border-radius: 100%;
    width:100%;
    margin-top: 60px;
}
/*heading3 finished*/

/*heading4 start*/

.heading4{
    text-align:center;
    position: relative;
    top:70px;
    clear:both;
}
.heading4 h2{
margin-top: 50px;
}

.heading4 p{
    color:gray;
}

.bottom{
    width:70%;
    margin:0 auto;
    clear:both;
    margin-top:150px;
}

.bottom .left{
    width:30%;
    float:left;
    margin-right:15px;
}


.bottom .left img{
    border-radius:100%;
    width:100%;
}

.bottom .left p{
    color:gray;
    line-height: 22px;
    text-align: justify;
    margin-top: 30px;
}

.vimal{
    width:100px;
    height:30px;
    background-color: rgb(96, 96, 206);
    border:none;
    margin-top: 20px;
}

/*heading4 finished*/

/*heading5 staart*/

.heading5{
    width:100%;
    text-align: center;
    float:left;
    margin-top: 50px;
}

.heading5 span{
    margin-right:30px;
    font-size: 25px;
    border-radius: 100%;
    border:1px double gray;
    padding:10px;
}

.heading5 p{
    color:rgb(184, 169, 169);
    margin-top:30px;
}

.heading5 p i{
    color:rgb(82, 78, 78);
    padding-bottom: 50px;
}


/*media quary start*/

@media only screen and (max-width:700px){
    .heading2 .left{
        width:100%;
        clear:both;
    }

    .heading2 .right{
        width:100%;
        clear:both;
    }

    .heading3 .center .right{
        width:100%;
        clear:both;
        float: left;

    }
    .heading3 .left{
        width:100%;
        clear:both;
    }

    .bottom .left{
        width:100%;
        clear:both;
        margin-top:20px;
        float: left;
    }
    .bottom .left .bluebutton{
       margin-left:120px;
        clear:both;
    }

    .vimal{
        margin-left: 170px;
        margin-bottom: 20px;
    }
    

}

@media only screen and (max-width:630px){
    .vimal{
        margin-left: 140px;
    }
}

@media only screen and (max-width:500px){
    .vimal{
        margin-left: 100px;
    }
}

@media only screen and (max-width:420px){
    .vimal{
        margin-left: 70px;
    }
}

@media only screen and (max-width:320px){
    .vimal{
        margin-left: 50px;
    }
}

@media only screen and (max-width:230px){
    .vimal{
        margin-left: 20px;
    }
}

@media only screen and (max-width:290px){
    .vimal{
        margin-left: 30px;
    }
}

@media only screen and (max-width:1060px) and (min-width:700px){
    .bottom{
        width:70%;
        margin:0 auto;
        clear:both;
        margin-top:150px;
    }
}

